<footer class="bg-white text-black">
    <img src="/assets/static/SolarSpell_Primary_tsp.png" alt="SolarSPELL logo">
    <img src="/assets/static/asu-logo-black.png" alt="Arizona State University Black logo">
    <br>
    <a [routerLink]="['/about']" class="bg-primary-dark text-white"><button type="button" class="button border-primary-dark bg-primary-dark bg-hover-primary-light rounded text-white shadow-none">About Us</button></a>
    <section id="footerText"><!--made the button consistent with the other buttons on the site-->
      <p>SolarSPELL (Solar Powered Educational Learning Library) works to build internet-ready
        skills and improve educational opportunities around the world.</p>
      <br>
      <p>Contact us at <a href="mailto:team@solarspell.org" class="text-black">team@solarspell.org</a></p>
      <small class="text-black">version {{version}}</small>
    </section>
</footer>