# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
dist-2/solarspell/3rdpartylicenses.txt
dist-2/solarspell/favicon.ico
dist-2/solarspell/index.html
dist-2/solarspell/main-es5.5c4185f09ecb4dc5769c.js
dist-2/solarspell/main-es2015.5c4185f09ecb4dc5769c.js
dist-2/solarspell/polyfills-es5.fd85e0f8895cb88a9f1a.js
dist-2/solarspell/polyfills-es2015.f5ab6f4b6064bb80e475.js
dist-2/solarspell/runtime-es5.0811dcefd377500b5b1a.js
dist-2/solarspell/runtime-es2015.0811dcefd377500b5b1a.js
dist-2/solarspell/scripts.fd12c80ebcc479d5730a.js
dist-2/solarspell/styles.48408b2956aaae95690e.css
dist-2/solarspell/assets/config.json
dist-2/solarspell/assets/images/banners/banner_creative_arts.png
dist-2/solarspell/assets/images/banners/banner_Disease_and_Diagnosis.jpg
dist-2/solarspell/assets/images/banners/banner_environment.png
dist-2/solarspell/assets/images/banners/banner_health_and_safety.png
dist-2/solarspell/assets/images/banners/banner_language_arts.png
dist-2/solarspell/assets/images/banners/banner_local_topics.png
dist-2/solarspell/assets/images/banners/banner_math.png
dist-2/solarspell/assets/images/banners/banner_population.jpg
dist-2/solarspell/assets/images/banners/banner_reference_tools.png
dist-2/solarspell/assets/images/banners/banner_science.png
dist-2/solarspell/assets/images/banners/banner_search.jpg
dist-2/solarspell/assets/images/banners/banner_Student_Reference.jpg
dist-2/solarspell/assets/images/banners/banner_Surgical_Procedures.jpg
dist-2/solarspell/assets/images/banners/banner-health.png
dist-2/solarspell/assets/images/banners/banner-nursing.png
dist-2/solarspell/assets/images/banners/banner.png
dist-2/solarspell/assets/images/banners/banner2.png
dist-2/solarspell/assets/images/banners/east-africa.png
dist-2/solarspell/assets/images/banners/pacific-islands-old.png
dist-2/solarspell/assets/images/banners/pacific-islands.png
dist-2/solarspell/assets/images/banners/Solar_Spell_Banner.png
dist-2/solarspell/assets/images/logos/arts.png
dist-2/solarspell/assets/images/logos/diseaseDiagnosis01.png
dist-2/solarspell/assets/images/logos/environment.png
dist-2/solarspell/assets/images/logos/globalhealthmedia.png
dist-2/solarspell/assets/images/logos/health_safety.png
dist-2/solarspell/assets/images/logos/hesperian01.png
dist-2/solarspell/assets/images/logos/kaLite.png
dist-2/solarspell/assets/images/logos/khan01.png
dist-2/solarspell/assets/images/logos/language_arts.png
dist-2/solarspell/assets/images/logos/local_topics_resources.png
dist-2/solarspell/assets/images/logos/logo_full.png
dist-2/solarspell/assets/images/logos/logo_small.png
dist-2/solarspell/assets/images/logos/math.png
dist-2/solarspell/assets/images/logos/medical-encyclopedia01.png
dist-2/solarspell/assets/images/logos/pharmacology01.png
dist-2/solarspell/assets/images/logos/phet.png
dist-2/solarspell/assets/images/logos/population01.png
dist-2/solarspell/assets/images/logos/reference_tools.png
dist-2/solarspell/assets/images/logos/science.png
dist-2/solarspell/assets/images/logos/social_studies.png
dist-2/solarspell/assets/images/logos/SPELL_Electronics_FINAL.png
dist-2/solarspell/assets/images/logos/SPELL_Equipment_FINAL.png
dist-2/solarspell/assets/images/logos/SPELL_Lessons__Textbooks_FINAL.png
dist-2/solarspell/assets/images/logos/SPELL_Organization__Management_FINAL.png
dist-2/solarspell/assets/images/logos/SPELL_Preventative_Maintenance_FINAL.png
dist-2/solarspell/assets/images/logos/SPELL_Safety_FINAL.png
dist-2/solarspell/assets/images/logos/SPELL_Skills_FINAL.png
dist-2/solarspell/assets/images/logos/SPELL_Troubleshooting__Repair_FINAL.png
dist-2/solarspell/assets/images/logos/SPELL_Wikipedia_FINAL.png
dist-2/solarspell/assets/images/logos/studentReference01.png
dist-2/solarspell/assets/images/logos/voa.png
dist-2/solarspell/assets/images/logos/wikipedia.png
dist-2/solarspell/assets/images/logos/wiredhealth.png
dist-2/solarspell/assets/images/modules/creative_arts.png
dist-2/solarspell/assets/images/modules/environment.png
dist-2/solarspell/assets/images/modules/health_safety.png
dist-2/solarspell/assets/images/modules/language_arts.png
dist-2/solarspell/assets/images/modules/local_topics.png
dist-2/solarspell/assets/images/modules/logo_Disease_Diagnosis.jpg
dist-2/solarspell/assets/images/modules/logo_Population.jpg
dist-2/solarspell/assets/images/modules/logo_small.png
dist-2/solarspell/assets/images/modules/logo_Student_Reference.jpg
dist-2/solarspell/assets/images/modules/logo_Surgical_Procedures.jpg
dist-2/solarspell/assets/images/modules/math.png
dist-2/solarspell/assets/images/modules/medical_encyclopedia.png
dist-2/solarspell/assets/images/modules/referece_tools.png
dist-2/solarspell/assets/images/modules/science.png
dist-2/solarspell/assets/images/modules/social_sciences.png
dist-2/solarspell/assets/images/modules/SPELL_Troubleshooting__Repair_FINAL.png
dist-2/solarspell/assets/images/modules/SPELL_Wikipedia_FINAL.png
dist-2/solarspell/assets/static/asu-logo-black.png
dist-2/solarspell/assets/static/file.png
dist-2/solarspell/assets/static/folder.png
dist-2/solarspell/assets/static/home - Copy.png
dist-2/solarspell/assets/static/home.png
dist-2/solarspell/assets/static/mp3.png
dist-2/solarspell/assets/static/mp4.png
dist-2/solarspell/assets/static/Roboto-Regular.ttf
dist-2/solarspell/assets/static/SolarSpell_Primary_tsp.png
dist-2/solarspell/assets/static/spell-logo.png
dist-2/solarspell/assets/static/The+SolarSPELL+Initiative+at+ASU.mp4
dist-2/solarspell/assets/static/videoPoster.jpg
