
/* the banner has been removed */
iframe 
{
    display: block; 
    width: 100%; 
    height: 100%;
    border: none; 
}
.file-col{
    min-height: 750px;
}
.row{
    margin:0;
}
.col-md-9{
    padding:0;
}
.col-md-3{
    padding:0;
}
.meta-col {
    padding-top: 30px;
}
.wrapper{
    margin: auto;
    width: 75%;
}
.lbl{
    margin-bottom: 0;
    font-weight: bold;
}
.keyword-link{
    cursor: pointer;
    text-decoration: none;
}
.keyword-link:hover {
    text-decoration: underline;
}
.pb-4 {
    padding-bottom: 30px !important;
}