<app-breadcrumb></app-breadcrumb>
<app-search-box [hideLink]="false"></app-search-box>
<div class="row">
    <!--banner has been removed-->
    <div class="col-md-3 meta-col bg-white order-last">
        <!--background color class-->
        <div *ngIf="content.title" class="wrapper text-grey">
            <p i18n="fileTilte@@fileTitle" class="lbl">Title</p>
            <p class="value">{{content.title}}</p>
        </div>
        <div *ngIf="content.description" class="wrapper text-grey">
            <p i18n="fileDescription@@fileDescription" class="lbl">Description</p>
            <p class="value">{{content.description}}</p>
        </div>
        <div class="wrapper text-grey" *ngFor="let meta of metadataList">
            <p i18n class="lbl">{meta.name, select, Language {Language} Subject {Subject} Resource Type {Resource Type}
                Format {Format} Audience {Audience} Keywords {Keywords} Creator {Creator} Rights Holder {Rights Holder}}
            </p>
            <p *ngIf="meta.name !== 'Keywords'" class="value">{{meta.value}}</p>
            <p *ngIf="meta.name == 'Keywords'">
                <span class="value" *ngFor="let k of meta.value.split(', ')">
                    <a class="keyword-link" (click)="meta.name == 'Keywords'?searchKeyword(k):null">{{k}} </a> |
                </span>
            </p>
        </div>
        <div *ngIf="content.rights_statement" class="wrapper text-grey">
            <!--text color class-->
            <p i18n="RightsStatement@@RightsStatement" class="lbl">Rights Statement</p>
            <p class="value">{{content.rights_statement}}</p>
        </div>
        <div *ngIf="content.published_date" class="wrapper text-grey">
            <!--text color class-->
            <p i18n="yearPublished@@yearPublished" class="lbl">Year of Publication</p>
            <p class="value">{{content.published_date | date : "yyyy"}}</p>
        </div>
        <div *ngIf="content.file_size" class="wrapper text-grey">
            <!--text color class-->
            <p i18n="fileSize@@fileSize" class="lbl">File Size</p>
            <p class="value">
                <span>{{content.file_size | fileSize }} </span>
                <span i18n>{content.file_size | fileUnit , select, MB {MB} KB {KB}}</span>
            </p>
        </div>   
        <div class="wrapper pb-3">
            <!--added download button with color class-->
            <a [href]="fileURL" (click)="logAnalytics('download_file')" download>
              <button i18n="download@@download" type="button"class="button bg-primary-dark bg-hover-primary-light w-100 rounded text-white p-2 shadow-none border-primary-dark">
                <i class="fa fa-download pr-2" aria-hidden="true"></i>
                Download
              </button>
            </a>
        </div>
    </div>
    <video class="col-md-9 ratio ratio-16x9" autoplay [src]="fileURL" controls *ngIf="resourceType=='video'"></video>
    <div class="col-md-9 m-auto"  *ngIf="resourceType=='audio'">
        <audio class="w-100 px-4" autoplay [src]="fileURL" controls></audio>
    </div>
    <iframe [src]="fileURL" class="col-md-9 file-col" *ngIf="resourceType=='pdf'" frameborder="0" allowfullscreen></iframe>
    <iframe [src]="fileURL" class="col-md-9 file-col" *ngIf="resourceType=='undefined'" frameborder="0" allowfullscreen></iframe>
</div>