<div class="container-fluid d-flex h-100 aboutus text-black"><!--text color class-->
    <div class="row d-flex flex-row">
        <div class="col-12 col-md-12 col-lg-4 order-2 order-lg-first ourMission bg-sunglow text-black"><!--background and text color class-->
            <h3 class="pt-2">Our Mission</h3>
            <p class="pb-2">The SolarSPELL initiative empowers learners globally by providing localized educational information and the training to build 21st century skills in offline environments. Student success is central to our mission, both around the world and at Arizona State University. </p>
            <h3>Our Vision</h3>
            <p class="pb-2">We envision a future in which all learners everywhere have:<br /><b>Access</b> to the information they need;<br /><b>Skills</b> to turn information into knowledge; and<br /><b>Agency</b> to transform knowledge into solutions. </p>
        </div><!--column-->
        <div class="col-12 col-md-12 col-lg-8 ">
            <h3>About Us</h3>
            <div class="col-md-8 embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item video-fluid z-depth-1 " controls poster="/assets/static/videoPoster.jpg">
                    <source src="/assets/static/The+SolarSPELL+Initiative+at+ASU.mp4" type="video/mp4">
                </video>
        </div><!--video container-->

            <p class="ml-1 mr-1 pb-2 pt-2">SolarSPELL is a Solar Powered Educational Learning Library. Our initiative works to build internet-ready skills and improve educational opportunities around the world.</p> 
            <h3 class="d-none d-md-none d-lg-block">Our Values</h3><!--this displays in large screens-->
            <p class="d-none d-md-none d-lg-block"><b>Community:</b> We prioritize relationships within our community and the global communities in which we work.<br /> <b>Learning:</b> We ask questions and continuously improve all aspects of our initiative.<br /><b>Building bridges:</b> We work across borders and disciplines – integrating diverse knowledge and perspectives to build a better future for all.<br /><b>Innovative solutions at scale:</b> We design for sustainability and boldly believe the opportunities for implementation are limitless.<br /><b> Work that matters:</b> We are honored to meet people where they are and deliver products and services of value. </p>
        </div><!--column-->
        <div class="d-block d-md-block d-lg-none col-12 col-md-12 col-lg-6 order-last"><!--this displays on tablets and mobile-->
            <h3>Our Values</h3>
            <p><b>Community:</b> We prioritize relationships within our community and the global communities in which we work.<br /> <b>Learning:</b> We ask questions and continuously improve all aspects of our initiative.<br /><b>Building bridges:</b> We work across borders and disciplines – integrating diverse knowledge and perspectives to build a better future for all.<br /><b>Innovative solutions at scale:</b> We design for sustainability and boldly believe the opportunities for implementation are limitless.<br /><b> Work that matters:</b> We are honored to meet people where they are and deliver products and services of value. </p>
        </div><!--column-->
    </div><!--row-->
</div><!-- container -->