
/* banner has been removed and replaced with this logo */
.logo-banner{
    width: 85%;
}

.nav-style .nav-link{/* replaced text color with class */
    text-align: center;
    cursor: pointer;
    padding: 1rem 1rem;
}
.nav-style .nav-item {
    width: 100%;    
}

.folder-logo{
    display:block;
    width: 75%;
    margin: 1rem;
}
.folders-btn{
    display:none;
}
.col-style{
    margin-top: 3em;
}
.folder-btn{
    height: 50px;
    border-radius: 25px;
    padding-top: 12px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.folder-icon {
    background: url('/assets/static/folder.png');
    float: left;
    height: 32px;
    width: 32px;
    margin-top: -5px;
}
@media screen and (min-width:200px) and (max-width: 991px){
    .row, .nav-style, .nav-item{
        width:100%;
        margin: 0;
    }
    .folder-logo{
        display:none;
    }
    .folders-btn{
        display:block;
        background:#FFC627;
        color:#000;
        font-weight: bold;
    }
}
.no-records-message {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}