<app-search-box [hideLink]="false"></app-search-box>
<app-breadcrumb></app-breadcrumb>
<div class="row">
    <div class="col-lg-2">
        <div class="d-none d-lg-block"><img class="folder-logo" src="assets/{{logo}}"></div>
    </div><!--removed logo nav functionality-->
    <div class="col-lg-9 col-style">
        <div class="row" *ngFor="let rows of folderList | slice:0:(math.ceil(folderList?.length/3)); let i=index"><!--added math ceiling function-->
            <div class="col-lg-4" *ngFor="let folder of folderList| slice:(3*i):(3*i+3)">
                
              <p class="btn btn-light border-primary-dark bg-hover-sunglow-50 btn-block folder-btn" [routerLink]="['/content', folder.id]">
                <!--removed parentFolder.id since mainFolders no longer in use-->
                <span class="folder-icon"></span>
                {{folder.folder_name}}
              </p>
            </div>
        </div>
        <p *ngIf="!contentList.length && !folderList.length" class="no-records-message">No Items Found</p>
        <app-content-list [contentList]="contentList"></app-content-list>
    </div>
</div>