
/* banner has been removed and replaced with this logo */
.logo-banner{
    width: 85%;
}

.nav-style .nav-link{/* replaced text color with class */
    text-align: center;
    cursor: pointer;
    padding: 1rem 1rem;
}
.nav-style .nav-item {
    width: 100%;    
}

.col-style{
    margin: 3em;
}
.folder-btn{
    height: 50px;
    border-radius: 25px;
    padding-top: 12px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.folder-icon {
    background: url('/assets/images/static/folder.png');
    float: left;
    height: 32px;
    width: 32px;
    margin-top: -5px;
}