
/* banner has been removed and replaced with this logo */
.logo-banner{
    width: 85%;
    margin-top: 17%;
    padding-bottom: 1%;
}
.btn{
    pointer-events: none;
}

.nav-style .nav-link{/* replaced text color with class */
    text-align: center;
    cursor: pointer;
    padding: 1rem 1rem;
}
.nav-style .nav-item {
    width: 100%;    
}

.col-style{
    margin: 3em;
}
.folder-btn{
    height: 50px;
    border-radius: 25px;
    padding-top: 12px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.folder-icon {
    background: url('/assets/static/folder.png');
    float: left;
    height: 32px;
    width: 32px;
    margin-top: -5px;
}
@media screen and (min-width:200px) and (max-width: 575px){
    .row, .nav-style, .nav-item{
        width:100%;
        margin: 0;
    }
    .logo-banner{
        width: 20% ;
        margin-top: 0;
      
        padding-top: 1%;
       
    }
    .bg-sunglow-10{
            background-color:transparent;
    }
    .btn{
        pointer-events: all;
    }
    .btn:focus{
        box-shadow: 0,0,0, 0;
    }
}