<p *ngIf=!contentList.length class="no-records-message">No Records Found</p>
<table *ngIf="contentList.length" class="table table-style bg-white"><!--background color class-->
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col" sortable="title" (sort)="onSort($event)">Title</th>
        <th scope="col" sortable="file_size" (sort)="onSort($event)">Size</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let content of contentList  | paginate: { itemsPerPage: 10, currentPage: page }" [routerLink]="['/file-view',content.id]" class="bg-hover-sunglow-50"> <!--background hover color class-->
        <td><img src="{{getFileExtension(content.file_name)}}"></td>
        <td>{{content.title}}</td>
        <td>{{content.file_size | fileSize}}</td>
      </tr>
    </tbody>
</table>
<div *ngIf="contentList.length" class="has-text-centered">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>