
/* replaced background color with class */
.table-style td{
    vertical-align: middle;
}
.table-style tr{
    cursor: pointer;
}
.table-style tr:hover{
    font-weight: 600;
}
.table-style img{
    height: 1.75rem;
}
.col-style{
    margin: 3em;
}
