
.adv-srch{/* replaced text color with class */
    cursor: pointer;
    margin: 0px;
    text-decoration: underline;
}
.searchBar, .searchBtn{/* replaced background and text color with class */
    border-radius: 17px;
}
