
.adv-srch{/* replaced text color with class */
    cursor: pointer;
    margin: 0px;
    text-decoration: underline;
}
.searchBar{/* replaced background and text color with class */
    border-radius: 17px;
}
.searchBtn{
    border-top-right-radius: 17px !important;
    border-bottom-right-radius: 17px !important;
}
