<div class="container-blue bg-primary-dark">	<!--background color class-->
	<div class="p-3">
		<div class="form-row no-gutters justify-content-center ">
			<div class="input-group mb-4 col-12 col-md-6 col-lg-4">
        <input class="searchBar form-control border-white" 
        type="text" 
        aria-label="Search" 
        [(ngModel)]="searchString" 
        (keyup.enter)="search()" 
        placeholder="Search resources...">
        <div class="input-group-prepend">
					<button class="searchBtn btn btn-light text-white border-white" id="basic-addon2" (click)="search()">
					<i class="fa fa-search text-primary-dark"></i></button>
				</div><!--text and border color class-->
      </div>
    </div>
    <div style="text-align: center;"><!--text color class-->
    <p i18n="advancedsearchlbl@@advancedsearchlbl" [hidden] = "hideLink" routerLink="/search-list" class="adv-srch text-white">Advanced Search</p>
    </div>
	</div>		
	</div>
