<div class="navbar-style">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" routerLink="home">
                <img src="assets/images/logos/logo_small.png" class="logo-responsive">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/search-list']" routerLinkActive="active">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>                    
                </ul>
                <span class="navbar-text">
                    <a href="#">EN</a> |  <a href="#">FR</a> 
                </span>
            </div>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>
<img class="footer-style" src="assets/images/static/footer.png">