
.navbar-style .active{/* replaced background and text color with class */
    font-weight: bold;
}
.navbar-style img{
    height: auto;
    width: auto;
    max-height: 2em;
}

.title {
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
}