<div i18n-dir dir="ltr">
 <div class="navbar-style bg-primary-dark text-active-sunglow">
    <div class="container"  i18n-dir dir="ltr">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" [routerLink]="['/home']">
                <img src="/assets/images/logos/logo_full.png" class="logo-responsive">
            </a>
            <span class="text-white">
                <p class="title" [routerLink]="['/home']"></p>
            </span> 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a i18n="menuHome@@menuHome" class="nav-link text-white" [routerLink]="['/home']" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a i18n="menuSearch@@menuSearch" class="nav-link text-white" [routerLink]="['/search-list']" routerLinkActive="active">Search</a>
                    </li>
                    <li class="nav-item">
                        <a i18n="menuIndex@@menuIndex" class="nav-link text-white" [routerLink]="['/index']" routerLinkActive="active">Index</a>
                    </li>
                    <li class="nav-item">
                        <a i18n="menuAboutus@@menuAboutus" class="nav-link text-white" [routerLink]="['/about']" routerLinkActive="active">About us</a>
                    </li>                    
                </ul>              
            </div>
        </nav>
    </div>
 </div>
 <router-outlet></router-outlet>
 <app-footer></app-footer>
</div>
