.navbar-style, .nav{
    background:#2D93D0;
}

.navbar-style img{
    height: auto;
    width: auto;
    max-height: 2em;
}
.footer-style{
    height:100%;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 4;
}