.bc-div{
    width:100%;/* replaced background color with class */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(212,212,212,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212,212,212,1);
    box-shadow: 0px 5px 5px -5px rgba(212,212,212,1);
    overflow:hidden;
    z-index: 1;
    position: relative;
}
ul.breadcrumb {
    list-style: none;/* replaced background color with class */
    width: fit-content;
    margin:0 auto;
  }

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 1em;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  content: ">";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a, ul.breadcrumb li span {
  text-decoration: none;
}

/* Add a color on mouse-over */
@media (hover: hover) {
  ul.breadcrumb li a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.clickable{
  cursor: pointer;
  margin: 0px;
  text-decoration: none
}