/* You can add global styles to this file, and also import other style files */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import '~@circlon/angular-tree-component/css/angular-tree-component.css';

@font-face{
  font-family:Roboto;
  src:url("/assets/static/Roboto-Regular.ttf")
}
* {
  font-family: 'Roboto', 'Helvetica' , 'sans-serif';
}
body {
    background-color: #F2F2F2 !important;
    position: relative;
    text-align: initial !important;
   }
 table {
   border-style: none;
   width: 100%;
 }
 .ng-select.custom.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  display: inline !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  white-space: normal !important;
}

/* ASU Brand colors backgrounds */
.bg-primary-dark{
  background-color: #0676D8;
}
.bg-primary-light{
  background-color:#00A3E0;
}
.bg-primary-light-10{
  background-color: rgba(0, 163, 224, 0.1);
}
.bg-sunglow{
  background-color:#FFC627;
}
.bg-sunglow-10{
  background-color:rgba(255, 198, 39, 0.1);
}
.bg-sunglow-50{
  background-color:rgba(255, 198, 39, 0.5);
}
.bg-gold{
  background-color: #FF7F32;
}
.bg-maroon{
  background-color:#8C1D40;
}
.bg-green{
  background-color: #78BE20;
}
.bg-grey{
  background-color: #5C6670;
}
.bg-white{
  background-color: #FFFFFF;
}
.bg-black{
  background-color: #000000;
}
.bg-active-primary-dark:active{
  background-color: #0676D8;
}
.bg-active-primary-light:active{
  background-color:#00A3E0;
}
.bg-active-sunglow:active{
  background-color:#FFC627;
}
.bg-active-sunglow-50:active{
  background-color:rgba(255, 198, 39, 0.5);
}
.bg-active-gold:active{
  background-color: #FF7F32;
}
.bg-active-maroon:active{
  background-color:#8C1D40;
}
.bg-active-green:active{
  background-color: #78BE20;
}
.bg-active-grey:active{
  background-color: #5C6670;
}
.bg-active-white:active{
  background-color: #FFFFFF;
}
.bg-active-black:active{
  background-color: #000000;
}
.bg-focus-primary-dark:focus{
  background-color: #0676D8;
}
.bg-focus-primary-light:focus{
  background-color:#00A3E0;
}
.bg-focus-sunglow:focus{
  background-color:#FFC627;
}
.bg-focus-sunglow-50:focus{
  background-color:rgba(255, 198, 39, 0.5);
}
.bg-focus-gold:focus{
  background-color: #FF7F32;
}
.bg-focus-maroon:focus{
  background-color:#8C1D40;
}
.bg-focus-green:focus{
  background-color: #78BE20;
}
.bg-focus-grey:focus{
  background-color: #5C6670;
}
.bg-focus-white:focus{
  background-color: #FFFFFF;
}
.bg-focus-black:focus{
  background-color: #000000;
}
.bg-hover-primary-dark:hover{
  background-color: #0676D8;
}
.bg-hover-primary-light:hover{
  background-color:#00A3E0;
}
.bg-hover-sunglow:hover{
  background-color:#FFC627;
}
.bg-hover-sunglow-50:hover{
  background-color:rgba(255, 198, 39, 0.5);
}
.bg-hover-gold:hover{
  background-color: #FF7F32;
}
.bg-hover-maroon:hover{
  background-color:#8C1D40;
}
.bg-hover-green:hover{
  background-color: #78BE20;
}
.bg-hover-grey:hover{
  background-color: #5C6670;
}
.bg-hover-white:hover{
  background-color: #FFFFFF;
}
.bg-hover-black:hover{
  background-color: #000000;
}

/* ASU Brand colors borders */
.border-primary-dark{
  border-color: #0676D8;
}
.border-primary-light{
  border-color:#00A3E0;
}
.border-sunglow{
  border-color:#FFC627;
}
.bg-gold{
  border-color: #FF7F32;
}
.border-maroon{
  border-color:#8C1D40;
}
.border-green{
  border-color: #78BE20;
}
.border-grey{
  border-color: #5C6670;
}
.border-white{
  border-color: #FFFFFF;
}
.border-black{
  border-color: #000000;
}

/* ASU Brand colors text colors */
.text-primary-dark{
  color: #0676D8 !important;
}
.text-primary-light{
  color:#00A3E0;
}
.text-sunglow{
  color:#FFC627;
}
.text-gold{
  color: #FF7F32;
}
.text-maroon{
  color:#8C1D40;
}
.text-green{
  color: #78BE20;
}
.text-grey{
  color: #5C6670;
}
.text-white{
  color: #FFFFFF;
}
.text-black{
  color: #000000;
}
.text-active-primary-dark:active{
  color: #0676D8;
}
.text-active-primary-light:active{
  color:#00A3E0;
}
.text-active-sunglow:active{
  color:#FFC627;
}
.text-active-gold:active{
  color: #FF7F32;
}
.text-active-maroon:active{
  color:#8C1D40;
}
.text-active-green:active{
  color: #78BE20;
}
.text-active-grey:active{
  color: #5C6670;
}
.text-active-white:active{
  color: #FFFFFF;
}
.text-active-black:active{
  color: #000000;
}
.text-focus-primary-dark:focus{
  color: #0676D8;
}
.text-focus-primary-light:focus{
  color:#00A3E0;
}
.text-focus-sunglow:focus{
  color:#FFC627;
}
.text-focus-gold:focus{
  color: #FF7F32;
}
.text-focus-maroon:focus{
  color:#8C1D40;
}
.text-focus-green:focus{
  color: #78BE20;
}
.text-focus-grey:focus{
  color: #5C6670;
}
.text-focus-white:focus{
  color: #FFFFFF;
}
.text-focus-black:focus{
  color: #000000;
}
.text-hover-primary-dark:hover{
  color: #0676D8;
}
.text-hover-primary-light:hover{
  color:#00A3E0;
}
.text-hover-sunglow:hover{
  color:#FFC627;
}
.text-hover-gold:hover{
  color: #FF7F32;
}
.text-hover-maroon:hover{
  color:#8C1D40;
}
.text-hover-green:hover{
  color: #78BE20;
}
.text-hover-grey:hover{
  color: #5C6670;
}
.text-hover-white:hover{
  color: #FFFFFF;
}
.text-hover-black:hover{
  color: #000000;
}

/* Highlights search word in basic search results more obviously, especially for displays with less contrast */
mark {
  background-color: rgba(255, 198, 39, 0.5) !important;
}

/* Link and button styling */
.spell-btn, .spell-btn:active, .spell-btn:focus{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(212,212,212,1) !important;
  -moz-box-shadow: 0px 0px 5px 0px rgba(212,212,212,1) !important;
  box-shadow: 0px 0px 5px 0px rgba(212,212,212,1) !important;
  border: none !important;
  background-color: #0676D8 !important;
  color: #ffffff !important;
}
.spell-link  {
    color: #0676D8 !important;
}

@media (hover: hover) {
  .spell-btn:hover  {
      background-color: #00A3E0 !important;
  }
  .spell-link:hover  {
      color: #0059a7 !important;
  }
}

/* Tree plugin (index page) styling */
/* Downloaded styling */
tree-node-wrapper, .tree-children {
  position: relative;
}
tree-node-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}
tree-node-wrapper::before {
  border-bottom: 1px solid #666666;
  border-left: 1px solid #666666;
  height: 10000px;
  top: -9978px;
  width: 30px;
  left: -15px;
}
.tree-node-level-1 > tree-node-wrapper::before {
  display: none;
}
.tree-node-leaf > tree-node-wrapper::before {
  width: 25px;
}
.tree-children::after {
  border-left: 1px solid #666666;
  height: 100%;
  top: -15px;
  left: -15px;
}
tree-node:last-child > .tree-node > .tree-children::after {
  border-left: none;
}
.toggle-children {
  z-index: 1;
}

/* Tree Plugin Custom Styling */
.angular-tree-component {
  cursor: default;
}
.toggle-children-wrapper, .node-content-wrapper {
  cursor: pointer;
}
.toggle-children-wrapper {
  width: 30px !important;
  height: 30px;
  background-color: #0676D8;
  transition: background-color .15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 7.5px 0px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(212,212,212,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212,212,212,1);
  box-shadow: 0px 0px 5px 0px rgba(212,212,212,1);
}
.toggle-children {
  background-image: url('/assets/images/icons/white_triangle.svg');
  width: 10px;
  height: 10px;
}
.toggle-children-wrapper-collapsed .toggle-children {
  transform: rotate(90deg);
}
.toggle-children-wrapper-expanded .toggle-children {
  transform: rotate(180deg);
}

.tree-children {
  padding-left: 30px;
}

tree-node-expander {
  width: 30px;
  height: 30px;
  z-index: 2;
  margin-right: 15px;
  display: block;
}

.toggle-children-placeholder {
  width: 30px;
  height: 30px;
}

.node-content-wrapper, .node-content-wrapper:hover, .node-content-wrapper:focus {
  margin: 5px 0;
  margin-right: 4px;
  padding: 5px 9px;
  border-radius: 5px;
  background-color:#ffffff !important;
  transition: background-color .15s ease;
  border: 1px solid #ffffff !important;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(212,212,212,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212,212,212,1);
  box-shadow: 0px 0px 5px 0px rgba(212,212,212,1);
}

@media (hover: hover) {
  .toggle-children-wrapper:hover {
    background-color: #00A3E0;
  }
  .node-content-wrapper:hover {
    background-color: #eeeeee !important;
    border:1px solid #d4d4d4 !important;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(212,212,212,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212,212,212,1);
    box-shadow: 0px 0px 5px 0px rgba(212,212,212,1);
  }
}

/* Pagination Styling */
.ngx-pagination li, .ngx-pagination a {
  margin-right: 0 !important;
  border-radius: 5px !important;
}