<!--<div class="banner-div">
    <img class="banner-style" src='/assets/images/banners/banner.jpg'>
</div>-->
<section class="banner"><!-- banner will go here --></section>
<app-search-box [hideLink]="false"></app-search-box>
<div class="container cat-container bg-white"><!--background color class-->
    <div class="row justify-content-center cat-row" *ngFor="let rows of folders | slice:0:(math.ceil(folders.length/3)); let i=index"><!--added math ceiling function-->
        <div class="col-md-4 folder-img" *ngFor="let folder of folders| slice:(3*i):(3*i+3)">
            <a [routerLink]="['/content', folder.id]"><img class="logo-style" src="/assets/{{folder.logo}}"/></a>
        </div>
    </div>
</div>