.banner-div{/* replaced background ith class */
    margin: 0px;
    padding: 0px;
}
.banner{
    height: 420px;
    background-image: url(/assets/images/banners/east-africa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cat-row{
    margin-top: 20px;
}
.cat-col{
    text-align:center;
}
.logo-img{
   width:80%;
}
/*
 mobile screen size*/
@media screen and (min-width:200px) and (max-width: 576px) {
    .banner {
      height: 200px;
  }
    .logo-img{
        width:70%;
    }
    .cat-col{
        margin-top: 20px;
    }
}
.cat-container {
    margin-bottom: 20px;
}

.cat-container img{
    cursor: pointer;
}