<div class="col-md-12 justify-content-center">
    <div class="col-md-9 bg-white tree-container tree-background">
        <p i18n="indexdesc@@indexdesc" class="info-style"> This index provides an overview of all folders and subfolders available on the SolarSPELL library. 
            Click on the <span class="plus-button"></span> to see the topics available within each main subject area. You can also click on the 
        folder title to view its contents.</p>
        <tree-root [nodes]="tree" (activate)="navigate($event)" [ngClass]="'expand-tree'">
        </tree-root>
    </div>
</div>
