.search-background {
    position: relative;
    overflow: hidden;
}
.search-background  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.4;
    z-index: -1;
}
/* replaced background with class */
.table-style td{
    vertical-align: middle;
}
.table-style tr{
    cursor: pointer;
}
.table-style img{
    height: 2rem;
}
.col-margin {
    margin-top: 20px;
}
.adv-search-box {
    margin: auto;
    padding: 15px;
}
.adv-search-toggle{
    z-index: 1000;
}
.adv-search-toggle button, .adv-search-toggle button:active, .adv-search-toggle button:focus{
    border: none;
    box-shadow:none;
    font-weight: 500;
}

.form-group label{
    margin-bottom: 0px;
}
.form-group{
    font-size: 16px;
    font-weight: 500;
}
.adv-search-btn{
    font-weight: 500;
}
.search-btn:focus{
    outline: none;
}
.no-records-message {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}