<app-search-box [hideLink]="true"></app-search-box>
<div class="container search-background">
    <div class="row justify-content-center">
        <div class="col-md-6 adv-search-toggle bg-primary-light"><!--background color class-->
            <button i18n="advancedsearchbtn@@advancedsearchbtn" class="btn bg-primary-light bg-active-primary-light bg-focus-primary-light text-white btn-block" type="button" data-toggle="collapse" data-target="#collapsableBox" aria-expanded="false" aria-controls="collapsableBox">
                Advanced Search
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 adv-search-box collapse bg-white" [ngClass]="{'show':expandAdvanced}" id="collapsableBox">
            <div class="form-group">
                <label i18n="searchtitle@@searchtitle" for="inputTitle">Title</label>
                <input type="text" class="form-control" id="inputTitle" name="inputTitle" [(ngModel)]="searchData.title">
            </div>
            <div class="form-row" *ngFor="let rows of metadataList | slice:0:(math.ceil((metadataList?.length/2))); let i=index">
                <div class="form-group col-md-6" *ngFor="let metadata of metadataList | slice:(2*i):(2*i+2); let j = index">
                    <label i18n class="lbl">{metadata.name, select, Language {Language} Subject {Subject} Resource Type {Resource Type}  Format {Format} Audience {Audience} Keywords {Keywords} Creator {Creator} Rights Holder {Rights Holder}}</label>
                    <ng-select
                        class="custom"
                        [items]="metadata.metadata"
                        [multiple]="true"
                        [closeOnSelect]="true"
                        [clearSearchOnAdd] = "true"
                        [hideSelected]="true"
                        [clearable]	="false"
                        bindLabel = "meta_name"
                        bindValue = "id"
                        [appendTo]="'body'"
                        [searchFn]="startsWithSearchFn"
                        [(ngModel)] = "metaTracker[i * 2 + j]"
                        >
                    </ng-select>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-sm-12"><!--full column-->
                    <label i18n="searchYearPublished@@searchYearPublished" >Year Published</label>
                </div>
                <div class="form-group col-sm-4"><!--under the published date label-->
                    <label i18n="searchMin@@searchMin">Min</label>
                    <select class="form-control" [(ngModel)]="searchData.min_date">
                        <option [value]=""></option>
                        <option *ngFor="let year of dropyears" [value]="year">{{ year }}</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <label i18n="searchMax@@searchMax">Max</label>
                    <select class="form-control"[(ngModel)]="searchData.max_date">
                        <option [value]=""></option>
                        <option *ngFor="let year of dropyears" [value]="year">{{ year }}</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <p style="height: 5px;"></p><!--made the search button more consistent-->
                    <button i18n="searchSearchBtn@@searchSearchBtn" class="search-btn btn-block p-2 border-primary-light font-weight-normal bg-primary-light text-white shadow-none bg-hover-primary-dark rounded" type="button" (click)="searchAdvanced();scrollToTable()">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
    <img src="/assets/images/banners/banner_search.jpg">
</div>
<div class="container">
    <div class="row">       
        <div class="col-md-12 col-margin" id="contentList">
            <p><span i18n="searchSearchBtn@@searchSearchBtn" *ngIf="searchString.length" id="contentElement" >Displaying Results for: </span><span *ngIf="searchString.length">"{{searchString}}"</span></p>
            <p i18n="noitemsfoundmsg2@@noitemsfoundmsg2" *ngIf="!loading && !contentList.length" class="no-records-message">No Items Found</p>
            <div *ngIf="loading" class="text-center" style="margin-bottom: 25px">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <app-content-list [contentList]="contentList"></app-content-list>
        </div>
    </div>
</div>